* {
    box-sizing: border-box;
}

#logout {
    margin-left: auto;
    color: #d7d8d7;
    font-size: 1.25em;
    margin-right: 1.25em;
    text-decoration: none;
}

#logout:hover {
    cursor: pointer;
    text-decoration: underline;
}

.content-container {
    flex-direction: column;
    align-items: center;
}

.user-details-container {
    width: 100%;
    padding: 1em 6em;
}

.record-counts {
    margin-right: 2em;;
}

.button-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 6%;
}

.button-container button {
    border: none;
    border-radius: 5px;
    background: black;
    color: white;
    padding: 0.5em 1em;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    width: 10%;
    margin-bottom: 1em;
}

.database-details-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.db-disp {
    width: 90%;
    border-collapse: collapse;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 2em;
}

.db-disp tr th {
    border: 2px solid black;
    padding: 10px;
}

.db-disp tr td {
    border: 1px solid black;
    padding: 10px;
}

pre {
    background-color: white;
    border: 1px solid black;
    padding: 0.5em;
}

@media screen and (max-width: 767px) {
    #logout {
        margin-right: 0.8em;
        text-decoration: underline;
    }

    .db-disp {
        width: 100%;
    }
}