html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #d7d8d7;
    font-family: 'Nunito Sans', sans-serif;
}

.container {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.header-container {
    background-color: #1f2c46;
    display: flex;
    align-items: center;
}

.header-container > img {
    width: 80px;
    height: auto;
    margin-left: 1em;
}

.header-container > .welcome-text {
    color: #d7d8d7;
    font-size: 1.25em;
}

.content-container {
    width: 100%;
    display: flex;
}

.user-details-container {
    width: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.user-details-container > div {
    width: 80%;
}

.emp-img-container {
    width: 148px !important;
    height: 180px;
    border: 1px solid black;
    margin-top: 3.5em;
    margin-bottom: 2em;
}

.emp-img-container > img {
    width: inherit;
    height: inherit;
}

.user-details > span {
    margin-bottom: 1em;
    margin-right: 0.8em;
    font-size: 1.1em;
}

.database-details-container {
    width: 70%;
}

@media screen and (max-width: 767px) {
    .header-container > img {
        margin-left: 0;
    }

    .content-container {
        flex-direction: column;
    }

    .user-details-container {
        width: 100%;
    }

    .database-details-container {
        width: 100%;
    }
}