html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #d7d8d7;
    font-family: 'Nunito Sans', sans-serif;
    scroll-behavior: smooth;
}

.container {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.header-container {
    background-color: #1f2c46;
    color: white;
    flex: 0 0 15%;
    display: flex;
    align-items: center;
    padding-left: 10em;
    padding-right: 10em;
}

.header-logo {
    width: 125px;
    height: 125px;
}

.header-links-container {
    margin-left: auto;
}

.header-links-container > ul {
    list-style-type: none;
    padding: 1em;
}

.header-links-container > ul > li {
    display: inline-block;
    font-size: 1.25em;
    margin: 0.5em;
}

.header-links-container > ul > li > a {
    text-decoration: none;
    color: inherit;
}

.header-links-container > ul > li > a:hover {
    text-decoration: underline;
}

.school-photo-container {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.school-photo-container > img {
    width: 100%;
    height: auto;
}

.school-photo-container > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    color: #d7d8d7;
    font-size: 5em;
}

.content-container {
    text-align: center;
    padding: 3em;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
}

.content-container > div {
    width: 66%;
}

.content-container > div > .title {
    text-transform: uppercase;
    color: #1f2c46;
    font-weight: 900;
    font-size: 3em;
    font-family: 'Nunito', sans-serif;
}

ng-view {
    padding-top: 5em;
    padding-bottom: 5em;
}

.sticky-header {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    background-color: #1f2c46;
    color: white;
    display: flex;
    align-items: center;
    font-size: 1.2em;
}

.sticky-header img {
    width: 75px;
    height: 75px;
    margin-left: 30px;
}

.sticky-cookie {
    position: fixed;
    bottom: 0;
    z-index: 2000;
    width: 100%;
    background-color: #ffe44d;
    padding: 2em;
    display: flex;
}

.sticky-cookie #disable-cookies {
    margin-left: auto;
    padding: 0.5em 1em;
    background-color: rgb(255, 0, 0);
    border: none;
}

.sticky-cookie #allow-cookies {
    margin-right: 5em;
    margin-left: 1em;
    padding: 0.5em 1em;
    background-color: rgb(9, 255, 0);
    border: none;
    transition: all 0.5s;
}

.sticky-cookie #allow-cookies:hover {
    cursor: pointer;
    transform: scale(1.25, 1.25);
    margin-left:2em;
}

.navbar-links-container {
    margin-left: auto;
}

.navbar-links-container > ul {
    list-style-type: none;
    margin-right: 30px;
}

.navbar-links-container > ul > li {
    display: inline-block;
    font-size: 1em;
    margin: 0.5em;
}

.navbar-links-container > ul > li > a {
    text-decoration: none;
    color: inherit;
}

.navbar-links-container > ul > li > a:hover {
    text-decoration: underline;
}

.news-events-container {
    display: flex;
    justify-content: center;
    padding-top: 5em;
    padding-bottom: 5em;
}

.news-events-container > .rounded {
    border-radius: 5px;
}

.news-container, .events-container {
    background-color: rgba(255, 255, 255, 0.219);
    padding: 10px;
    width: 35%;
}

.news-container > .title, .events-container > .title {
    font-family: 'Nunito', sans-serif;
    color: #1f2c46;
    font-size: 2em;
    font-weight: bold;
}

.news-container > hr, .events-container > hr {
    border-width: 2px;
    border-color: #1f2c46;
}

.news-container {
    margin-right: 50px;
}

.news-events-items {
    padding-top: 20px;
    padding-bottom: 15px;
}

.news-events-items > .title {
    font-weight: bold;
    font-size: 1.15em;
}

.news-events-items > .date {
    color:rgb(94, 94, 94);
    padding-top: 10px;
}

.news-events-items > .title:hover {
    text-decoration: underline;
    cursor: pointer;
}

.btn-view-all {
    border: none;
    border-radius: 5px;
    background-color: #1f2c46;
    color: #d7d8d7;
    font-size: 1em;
    padding: 7px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-view-all:hover {
    color: white;
    cursor: pointer;
}

.video-container {
    display: flex;
    justify-content: center;
    padding-bottom: 5em;
}

.video-container > iframe {
    width: 50%;
    height: 25em;
}

.footer-container {
    background-color: #0e131f;
    color: #d7d8d7;
    padding-top: 4em;
    padding-bottom: 4em;
    padding-left: 8em;
    padding-right: 8em;
    display: flex;
}

.cst-material-icons {
    margin-right: 20px;
}

.info-table {
    width: 30%;
    font-size: 1.1em;
    border-spacing: 10px;
}

td {
    vertical-align: top;
}

.spam-sms-table {
    border-spacing: 10px;
}

.staff-table {
    width: 100%;
}

@media screen and (max-width: 767px) {
    .header-container {
        flex-direction: column;
        padding: 0;
        flex: 0 0 5%;
    }

    .header-container > h1 {
        margin: 0;
    }

    .header-links-container {
        flex-grow: 0;
        flex-direction: row;
        margin: 0;
    }

    .header-links-container > ul {
        padding: 0;
    }

    .header-links-container > ul > li {
        font-size: 1em;
    }

    .school-photo-container > div {
        font-size: 2em;
        width: 70%;
    }

    .content-container {
        font-size: 1em;
    }

    .content-container > div {
        width: 95%;
    }

    .content-container > div > .title {
        font-size: 2.5em;
    }

    .news-events-container {
        flex-direction: column;
        padding-top: 0;
        padding-bottom: 5em;
        align-items: center;
    }

    .news-container, .events-container {
        width: 90%;
    }

    .news-container {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .footer-container {
        padding-left: 10%;
        padding-right: 0;
    }

    .info-table {
        width: 90%;
    }

    .video-container > iframe {
        width: 90%;
        height: 15em;
    }
}